# maven ignore
target/
*.versionsBackup

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
/temp
/tmp
app.jar

# system ignore
.DS_Store
Thumbs.db

gitlabci/.generated

/bin
src/main/resources/application-default.yml
node_modules

# frontend
lib
node_modules
package-lock.json
yarn.lock
**/lib/dist/
**/lib/assets/
**/lib/fonts/
.yalc
yalc.lock
yarn-error.log